# $FreeBSD: d2c45e09c36eccecfce98d86882cf5e4bfe17ee5 $
#
# List of domains (possibly wildcarded) and destination mailers
#
.my.domain		xnet:%1.my.domain
uuhost1.my.domain	suucp:uuhost1
.bitnet			smtp:relay.bit.net
