# $FreeBSD: 69026a73f93207b13207156b2b07024a48ddf71e $
#
# Please see the file src/etc/mtree/README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
    libsoft
        dtrace
        ..
        i18n
        ..
    ..
..
