# $FreeBSD: 138606b7c44d78743698e7c6a27e2140c4d7cdf0 $
#
# Please see the file src/etc/mtree/README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.               nochange
    var             nochange
        spool           nochange
            clientmqueue    uname=smmsp gname=smmsp mode=0770
            ..
        ..
    ..
..
