# $FreeBSD: 3e2d80fd6cae92ca708fc1be525e65604711a8c0 $
#
# Please see the file src/etc/mtree/README before making changes to this file.
#

/set type=dir uname=root gname=wheel mode=0755
.
    lib32
        dtrace
        ..
        geom
        ..
        i18n
        ..
    ..
..
